= render partial: 'left_sidebar'

.grid_8
  %article.post
    - if current_admin.present? 
      .right
        = link_to "Nueva entrada", new_entry_path, :class => "button green hover"
        = link_to "Log out", destroy_admin_session_path, :confirm => '¿Estás seguro?', :method => :delete, :class => "button black"

    %h2="Noticias"
    
  .separator   

  = render partial: 'entry_table'