#description
  .container
    = bootstrap_flash
    %h1= "Rock punk urbano desde la periferia de Madrid. Sonido moderno y contundente, riffs afilados y letras trabajadas cargadas de mensaje reivindicativo y reflexiones personales con un directo arrollador que no deja un momento de respiro!"