#description
  .container
    = bootstrap_flash
    %h1= "Punk Rock urbano desde la periferia de Madrid. Un sonido moderno y contundente, de riffs directos y letras trabajadas entre lo social y lo personal."