#gallery
  /.grid{"data-masonry" => "{ \"itemSelector\": \".grid-item\", \"columnWidth\": 200 }"}
  / - @images.each do |image|
  /   .grid-item
  /     .col-md-8
  /       = image_tag image.photo.url(:cover)
  /%br
  /  .text-center= link_to("más fotos", photo_categories_path, class: "btn btn-danger")
  /%br

  #videos
    .container
      %br
      .row
        - @videos.each do |video|
          .col-md-4
            .video_box
              %h3= link_to video.title, video.youtube_link, target: "_blank"
              = link_to(image_tag(video.thumbnail_url), video_path(video))
            %br
      %br
      .text-center= link_to("más videos", video_categories_path, class: "btn btn-danger")
      %br