#music
  .container
    %br
    = render partial: 'records/record_table', locals: {records: @records}    
    %br
    .text-center= link_to("discografía", records_path, class: "btn btn-danger")
    %br