#music.container
  %br
  .row
    - @records.each do |record|
      .col-md-4
        .record_box
          = link_to(image_tag(record.photo.url(:gallery)), record_path(record))
          .middle
            %h2= record.name