#tour
  .row
    .col-md-7
      = image_tag("tour.jpg")
    .col-md-5
      - if @concerts.present?
        %br
        %br
        = render partial: 'concerts/next_concerts', locals: {concerts: @concerts}
      - else
        %br
        %br
        %br
        %h6= "ACTUALMENTE NO TENEMOS CONCIERTOS PROGRAMADOS"
        %br
        %br
        %br
      .text-center= link_to("MÁS FECHAS", concerts_path, class: "btn btn-danger")
      %br