%aside.side-left
  %br
  %a{"data-lightbox" => @record.name, :href => @record.photo.url, "data-title" => @record.name, :class => 'zoom'}
    = image_tag @record.photo.url(:cover), :class => 'frame' 
  

  - if @songs.present? 
    = render partial: 'layouts/jplayer'

  .separator

  - if @record.download_link.present?
    .center= link_to (image_tag "descarga.png"), @record.download_link, :class => 'frame'
    .separator
