.well
  %br
  .row.text-center
    %a{"data-lightbox" => @record.name, :href => @record.photo.url, "data-title" => @record.name, :class => 'zoom'}
      = image_tag @record.photo.url(:gallery), class: "img-thumbnail"
  / .row
  /   .col-md-12
  /     = render partial: 'spotify', locals: {album_url: @record.get_spotify_url} if @record.spotify_link.present?
  %br
  .row
    .col-md-3
    .col-md-6
      = link_to(fa_icon("download", text: "descargar"), @record.download_link, target: "_blank", class: "btn btn-primary btn-block") if @record.download_link.present?
      = link_to(fa_icon("spotify", text:  "spotify"  ), @record.spotify_link,  target: "_blank", class: "btn btn-success btn-block") if @record.youtube_link.present?
      = link_to(fa_icon("youtube", text:  "youtube"  ), @record.youtube_link,  target: "_blank", class: "btn btn-danger btn-block") if @record.spotify_link.present?