.row
  .col-md-12
    - concerts.each do |concert|
      .well
        .row
          .col-md-1= calendar_tag(concert.date)
          .col-md-1
          .col-md-9= concert_tag(concert)
          .col-md-1