- if current_user.try(:admin?) 
  .right
    = link_to "Nuevo concierto", new_concert_path, :class => "button green hover"

%h2="próximos conciertos" 
= render partial: 'concerts/tour', locals: {concerts: @concerts}  

.separator

%h2="conciertos pasados" 
 = render partial: 'last', locals: {concerts: @previous_concerts}