
#slider:after {
  bottom: -71px;
}

.search input[type=text] {
  padding-top: 7px;
  padding-bottom: 3px;
}

.input input {
  padding-top: 8px;
  padding-bottom: 5px;
  height: 20px;
}

.jp-progress {
  margin-top: 10px;
}

.jp-playlist ul {
  margin-top: 0;
}
