label {
  display: block;
  font-weight: normal;
}

.container {
  padding: 80px 120px;
}

/* Add a dark background color to the footer */
footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}

footer a {
    color: #f5f5f5;
}

/* HALF RULES */
.half-rule { 
  align: center;
  width: 50%;
 }

 hr { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, grey, white, grey);
  background-image: -moz-linear-gradient(left, grey, white, grey);
  background-image: -ms-linear-gradient(left, grey, white, grey);
  background-image: -o-linear-gradient(left, grey, white, grey); 
}


.at-bottom {
    vertical-align: bottom;
}

/* DESCRIPTION CONTAINER*/
#description .h1 {
    font-weight: bold !important;
    text-transform: uppercase;
    text-align: center;
}


/* TOUR CONTAINER*/
#tour {
    background-color: black;
}

#tour img{
}

#tour h6, h5, h4, h3, h2, h1 {
    color: white !important;
    font-weight: bold !important;
}