html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-transform: uppercase;
}

label {
    display: block;
    font-weight: normal;
}

.btn {
    font-weight: bold;
    text-transform: uppercase;
}

.container {
    padding: 40px 60px;
}

/* HALF RULES */
.half-rule { 
  align: center;
  width: 50%;
 }

hr{ 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, white, grey, white);
  background-image: -moz-linear-gradient(left, white, grey, white);
  background-image: -ms-linear-gradient(left, white, grey, white);
  background-image: -o-linear-gradient(left, white, grey, white); 
}


/* IMAGES */
a:hover img.img-thumbnail {
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}

/* DESCRIPTION CONTAINER*/
#description {
    background-image: url(image_path('bg1.jpg'));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#description h1 {
    text-align: center;
}

@media (max-width: 600px) {
  #description h1{
    font-size: 24px;
  }
}

/* TOUR CONTAINER*/
#tour {
    background-image: url(image_path('bg2.jpg'));
    background-repeat: no-repeat;
    background-size: cover;
}

#tour img{
    width: 100%;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);    
}

#tour h6{
    color: white;
    text-align: center;
}

#tour .btn{
  align-self: center;
}

#tour hr { 
  background-image: -webkit-linear-gradient(left, grey, white, grey);
  background-image: -moz-linear-gradient(left, grey, white, grey);
  background-image: -ms-linear-gradient(left, grey, white, grey);
  background-image: -o-linear-gradient(left, grey, white, grey); 
}

/* MUSIC CONTAINER */
#music {
}

/* GALLERY CONTAINER */
#gallery {
    background-image: url(image_path('bg2.jpg'));
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-item {
  float: left;
  width: 20%;
  height: 60px;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.grid-item--width2 { width: 40%; }

.grid-item--height2 { height: 140px; }

/* BAND CONTAINER*/
#band {
    background-image: url(image_path('band.jpg'));
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

#band .band-text {
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* CONTACT CONTAINER*/
#contact {
}

#contact img{
    width: 100%;
}

#contact h5{
    text-transform: capitalize;
}

/* FOOTER CONTAINER */
footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
    background-image: url(image_path('bg2.jpg'));
    background-repeat: no-repeat;
    background-size: cover;
}

footer a {
    color: #f5f5f5;
}

/* RECORD CONTAINER */
#records {
}

