/* TOUR DATES */
.panel {
  display: inline-block;
  border: 1px solid #d43f3a; 
}

.panel-header {
  height: 10px; 
}

.panel-body {
  height: 60px; 
}


.panel-footer {
  background-color: #d9534f !important;
  border-top: none;
  height: 30px;
}

.panel h6{
  font-weight: bold !important;
  color: black !important;
  line-height: 0%;

}

.panel h5{
  font-weight: bold !important;
  color: white !important;
  line-height: 0%;  
}

.panel h3{
  font-weight: bold !important;
  color: black !important;
  line-height: 0%;  
}

.concert-desc h5 {
    color: white;
    text-align: center; 
}

.concert-desc h4 {
    color: white;
    font-weight: bold;
    text-align: center;   
}