/* TOUR DATES */
#tour .panel, #concerts .panel {
  display: inline-block;
  border: 1px solid #d43f3a; 
}

#tour .panel-header, #concerts .panel-header {
  height: 10px; 
}

#tour .panel-body, #concerts .panel-body {
  height: 60px; 
}


#tour .panel-footer, #concerts .panel-footer {
  background-color: #d9534f !important;
  border-top: none;
  height: 30px;
}

#tour .panel h6, #concerts .panel h6{
  font-weight: bold !important;
  color: black !important;
  line-height: 0%;
}

#tour .panel h5, #concerts .panel h5{
  font-weight: bold !important;
  color: white !important;
  line-height: 0%;  
}

#tour .panel h3, #concerts .panel h3{
  font-weight: bold !important;
  color: black !important;
  line-height: 0%;  
}

#tour .concert-desc h6 {
    color: white;
    text-align: center; 
}

#tour .concert-desc h5 {
    color: white;
    text-align: center; 
}

#tour .concert-desc h4 {
    color: white;
    text-align: center;   
}

#concerts .concert-desc h6 {
    text-align: center; 
}

#concerts .concert-desc h5 {
    text-align: center; 
}

#concerts .concert-desc h4 {
    text-align: center;   
}