= simple_form_for [@photo_category, @image], :html=> { id: 'form' } do |f|
  .form-inputs.row
    .col-md-4= f.input :description
    .col-md-4= f.file_field :photo
  %br
  .form-actions.row
    .col-md-4= f.button :submit