%p.center
  %a{:href => "http://creativecommons.org/licenses/by-nc-sa/3.0/deed.es_CO", :rel => "license"}
    %img{:alt => "Licencia Creative Commons", :src => "http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png", :style => "border-width:0"}/
  = succeed "Esta obra de" do
    %br/
  %a= link_to "Por Instinto", new_user_session_path
  está bajo una
  = succeed "." do
    %a{:href => "http://creativecommons.org/licenses/by-nc-sa/3.0/deed.es_CO", :rel => "license"} Licencia Creative Commons Atribución-NoComercial-CompartirIgual 3.0 Unported