- if flash[:success]
  .notif.success
    %strong= flash[:success]
    %a.close{:href => "#"} ×

- if flash[:error]
  .notif.error
    %strong= flash[:error]
    %a.close{:href => "#"} ×

- if flash[:tip]
  .notif.tip
    %strong= flash[:tip]
    %a.close{:href => "#"} ×

- if flash[:info]
  .notif.info
    %strong= flash[:info]
    %a.close{:href => "#"} ×