#slider-container
  .slider-wrapper
    #slider.nivoSlider
      - @slides.each do |slide|
        - if slide.link.present?
          %a{:href => slide.link, :target => "_new"}      
            = image_tag slide.photo.url(:slide), :title => "#" + slide.slide_caption
        - else    
          = image_tag slide.photo.url(:slide), :title => "#" + slide.slide_caption

    - @slides.each do |slide|
      - if slide.title.present?
        .nivo-html-caption{:id => slide.slide_caption}
          %strong= slide.title
          %br= slide.description if slide.description.present?