%h4="Síguenos en"

%p
  = link_to (image_tag "social/facebook.png"), "https://www.facebook.com/PorInstintoRock", {:target => "_blank", :title => "facebook"}
  = link_to (image_tag "social/twitter.png"), "https://twitter.com/PorInstinto", {:target => "_blank", :title => "twitter"}
  = link_to (image_tag "social/youtube.png"), "http://www.youtube.com/user/PorInstintoRock", {:target => "_blank", :title => "youtube"}
  = link_to (image_tag "social/spotify.png"), "http://open.spotify.com/album/07e9sYyaa7u4OPY7Kt3KYB", {:target => "_blank", :title => "spotify"} 

/ .separator