%h4="Síguenos en"

%p
  = link_to (image_tag "social/facebook.png"), "https://www.facebook.com/PorInstintoRock", {:target => "_blank", :title => "facebook"}
  = link_to (image_tag "social/twitter.png"), "https://twitter.com/PorInstinto", {:target => "_blank", :title => "twitter"}
  = link_to (image_tag "social/youtube.png"), "http://www.youtube.com/user/PorInstintoRock", {:target => "_blank", :title => "youtube"}
  = link_to (image_tag "social/spotify.png"), "https://play.spotify.com/artist/23pWE9qp8f5JlM4Z6bpz3C", {:target => "_blank", :title => "spotify"} 