%article.post
  - if @band_photo.present?
    - if current_admin.present?
      = link_to "Borrar", @band_photo, :method => :delete, :class => "button red"
    .center= image_tag @band_photo.photo.url(:band), :class => 'frame'
  - elsif current_admin.present?
    = link_to "Nueva foto de la banda", new_band_photo_path, :class => "button green hover"